{{> header}}
    <div class="container">

      <div class="row">
        <img class="main-img" src="https://images.pexels.com/photos/33196/still-life-teddy-white-read.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="reading bear">
      </div>


        <div class="col-8 offset-2">
          <ul class="sentence list-inline text-center">
          
          </ul>

          <ul class="dots">

          </ul>
      </div>


    </div>

{{> footer}}
