{{> header}}
    <div class="container">

      <div class="row">
        <img class="img-fluid rounded main-img" src="/reading-bean.png" alt="crayons">
      </div>

      <div class="col-12">
        <ul class="sentence list-inline text-center">
          <!-- appended li elements -->
        </ul>

        <ul class="dots">
          <!-- appended i elements -->
        </ul>
      </div>

    </div>

{{> footer}}
