{{> header}}
    <div class="container">




        <!-- <div class="row">
          <h1 class="main-h1">Read Along with me </h1>
        </div> -->

        <div class="row">
          <img class="img-fluid rounded main-img" src="/reading-bean.png" alt="crayons">

        </div>


          <div class="col-12">
            <ul class="sentence list-inline text-center">

            </ul>

            <ul class="dots">

            </ul>
        </div>




    </div>

{{> footer}}
