{{> header}}
    <div class="container">
      <div class="col-8 offset-2">
        <ul class="sentence list-inline text-center">
          <li class="word1">I</li>
          <li class="word2">love</li>
          <li class="word3">to</li>
          <li class="word4">read</li>
        </ul>

        <ul>
          <li><i class="dot dot1 far fa-hand-pointer"></i></li>
          <li><i class="dot dot2 far fa-hand-pointer"></i></li>
          <li><i class="dot dot3 far fa-hand-pointer"></i></li>
          <li><i class="dot dot4 far fa-hand-pointer"></i></li>
        </ul>
      </div>

    </div>

{{> footer}}
