{{> header}}
    <div class="container">

        <ul class="sentence list-inline text-center">
          <li class="word1" contenteditable="true">I</li>
          <li class="word2" contenteditable="true">love</li>
          <li class="word3" contenteditable="true">to</li>
          <li class="word4" contenteditable="true">read</li>
        </ul>

        <ul>
          <li><i class="dot dot1 far fa-hand-pointer"></i></li>
          <li><i class="dot dot2 far fa-hand-pointer"></i></li>
          <li><i class="dot dot3 far fa-hand-pointer"></i></li>
          <li><i class="dot dot4 far fa-hand-pointer"></i></li>
        </ul>

      <div class="row">
        <div class="col-md-12">
          <input class="first" type="text" value="read" placeholder="first word">
          <input class="second" type="text" value="along" placeholder="second word">
          <input class="third" type="text" value="with" placeholder="third word">
          <input class="fourth" type="text" value="me" placeholder="fourth word">
        </div>
      </div>


    </div>

{{> footer}}
