{{> header}}
    <div class="container">

      <div id="landing-header">
        <h1>Welcome to Read Along!</h1>
        <a href="/main" class="btn btn-lg btn-success">Let's go read</a>
      </div>

      <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </div>

  </body>
</html>
