/*-------------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------------*/

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body
{
  background-color: #aaf1ed;
  color: #333;
  font-family: Roboto, serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix { zoom: 1}
.clearfix:after
{
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*-------------------------------------------------*/
/* LANDING PAGE */
/*-------------------------------------------------*/


#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

h1 {
    color: #fff;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.pexels.com/photos/1148998/pexels-photo-1148998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
}
.slideshow li:nth-child(2) {
  background-image: url(https://images.pexels.com/photos/707193/pexels-photo-707193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://images.pexels.com/photos/544981/pexels-photo-544981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.pexels.com/photos/1043519/pexels-photo-1043519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images.pexels.com/photos/1011334/pexels-photo-1011334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

/*-------------------------------------------------*/
/* MAIN PAGE */
/*-------------------------------------------------*/

.main-h1 {
  font-size: 400%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;

}

.main-img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 12px;
}

.pointer {
  color: #ab53c7;
}

.dot {
  font-size: 240%;
}

.sentence {
  font-size: 300%;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  display: table-row;
  margin-top: 40vh;
  list-style-position: inside;
  max-width: 1140px;
}

li {
  display: table-cell;
  text-align: center;
  padding: 10px 20px;
}

input {
  width: 20%;
  height: 50px;
  margin-top: 30px;
}
